.navigation {
    /* background-color: #000; */
    margin-top: 1.75rem;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(75, 75, 196);
    text-decoration: none;
}


.about {
    font-size: 30px;
    padding: 5rem;
    height: 25rem;
    width: auto;
}

:host::ng-deep .p-card {
    color: white;
    padding: 5rem;
    height: 25rem;
    width: auto;
    border-radius: 3rem;
    box-shadow: 1rem 2rem 2rem rgba(0, 0, 0, 0.8);
    background-color: rgba(27, 25, 25, 0.164);
}

footer {
    /* background-color: #000 !Important; */
    border-radius: 3rem;
}

.info {
    margin: auto;
    font-size: larger;
}