html {
    height: 100vh;
    border: 2em;
    margin-left: 2em;
}

body {
    background-image: url("https://know120.github.io/res/images/backgroundImg.jpg");
    backface-visibility: visible;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    margin-left: 1em;
    font-style: oblique;
    font-size: 100px;
    color: #030303;
    position: relative;
}

h2{
    margin-left: 3em;
    font-size: 40px;
}

h3{
    /* margin-left: 6em; */
    font-size: 25px;
}

.projects{
    margin-left: 9em;
    /* font-size: 15; */
    text-align: left;
}
.projects a{
    font-size: 20;
}

/* footer {
    text-align: center;
}
 */
.social-footer{
    margin-left: 9em;
    font-size: 15;
    text-align: left;
}


/* Add a black background color to the top navigation  */
/* .topnav {
    background-color: rgb(50, 67, 87);
    overflow: hidden;
  }
 */  
   /* Style the links inside the navigation bar  */
/* .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
 */  
   /* Change the color of links on hover  */
/* .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
 */
  
  /* Add a color to the active/current link 
.topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  */

/* #myBtn {
    display: block show;
    position: fixed;
    bottom: 20px;
    right: 30px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}
 */
/* #myBtn:hover {
    background-color: #555;
} */
