html {
    height: 100vh;
    border: 2em;
    margin-left: 2em;
}

body {
    background-image: url("https://know120.github.io/backup/res/images/backgroundImg.jpg");
    backface-visibility: visible;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* h1 {
    margin-left: 1em;
    font-style: oblique;
    font-size: 100px;
    color: #030303;
    position: relative;
} */

h2{
    margin-left: 3em;
    font-size: 40px;
}

h3{
    /* margin-left: 6em; */
    font-size: 25px;
}

.projects{
    margin-left: 9em;
    /* font-size: 15; */
    text-align: left;
}
.projects a{
    font-size: 20;
}

/* footer {
    text-align: center;
}
 */
.social-footer{
    margin-left: 9em;
    font-size: 15;
    text-align: left;
}
