@import 'primeng/resources/themes/md-dark-indigo/theme.css';

.app {
    background-color: var(--bs-dark);
    color: var(--bs-light);
}

.p-menubar {
    padding: 0;
    align-items: end;
}

.full-size {
    height: 100vh;
    width: 100vw;
    align-items: center;
    align-content: center;
    z-index: 3;
}

.bg-secondary {
    background-color: var(--bs-secondary);
}

.grid {
    background-image:
        radial-gradient(circle, rgba(255,255,255,0.8) 2px, transparent 2px),
        linear-gradient(to right, rgba(255,255,255,0.3) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255,255,255,0.3) 1px, transparent 1px);
    background-size: 5rem 5rem, 5rem 5rem, 5rem 5rem;
    background-position: 0 0, 2.5rem 2.5rem, 2.5rem 2.5rem;
}

.gradient-grid {
    position: relative;
    min-height: 400px;
    padding: 20px;
    overflow: hidden;
    color: white;
}

.gradient-grid::before,
.gradient-grid::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.gradient-grid::before {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    z-index: -2;
}

.gradient-grid::after {
    background-image:
        radial-gradient(circle, rgba(255,255,255,0.8) 2px, transparent 2px),
        linear-gradient(to right, rgba(255,255,255,0.3) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255,255,255,0.3) 1px, transparent 1px);
    background-size: 5rem 5rem, 5rem 5rem, 5rem 5rem;
    background-position: 0 0, 2.5rem 2.5rem, 2.5rem 2.5rem;
    z-index: -1;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* This ensures any content inside .gradient-grid is above the background */
.gradient-grid > * {
    position: relative;
    z-index: 1;
}