<div class="app">
    <!-- <section id="navigation">
        <nav>
            <a href="#projects">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </nav>
    </section> -->
    <section id="home">
        <div class="container-fluid full-size">
            <div class="row d-flex">
                <div class="col text-center" >
                    <img class="zoom rounded-circle w-50" src="../../../assets/img/me.jpg" alt="image">
                </div>
                <div class="col info text-center">
                    <h1 class="info zoom">Hi, I'm Sujay</h1>
                    <h2 class="info zoom">A Software</h2>
                    <h2 class="info zoom">Engineer</h2>
                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container-fluid full-size bg-secondary bg-gradient gap-5">
            <h1 class="text-center">Work Experience</h1>
            <div class="row m-5">
                <div class="col zoom">
                    <p-card>
                        <p-header>
                            <h2>Alumnus Software Limited</h2>
                        </p-header>
                        <h3>Full Stack Developer</h3>
                        Developed a web application for one of the leading Tire manufacturing company using Angular 7,
                        Bootstrap 5, .NET Framework, and SQLServer.
                        <p-footer>
                            <h4>July 2022 - Present</h4>
                        </p-footer>
                    </p-card>
                </div>
                <div class="col zoom">
                    <p-card>
                        <p-header>
                            <h2>Divsoft Software Solutions</h2>
                        </p-header>
                        <h3>Software Engineer</h3>
                        Developed a Over Speed Detection System using CPP and OpenCV. That can receive the speed of the
                        vehicle from a remote server using TCP Connection and Capture the image of vehicle.
                        <p-footer>
                            <h4>August 2021 - July 2022</h4>
                        </p-footer>
                    </p-card>
                </div>
            </div>
        </div>
    </section>
    <section id="projects">
        <div class="container-fluid full-size">
            <h1 class="text-center">Projects</h1>
            <div class="row m-5">
                <div class="col zoom">
                    <p-card>
                        <p-header>
                            <h2>Data Analysis</h2>
                        </p-header>
                        Analysis and Visualization of Political Spending on Facebook.
                        <p-footer>
                            <a href="https://jovian.ai/know120/fb-ad-lib" target="_blank">Have a look</a>
                        </p-footer>
                    </p-card>
                </div>
                <div class="col zoom">
                    <p-card>
                        <p-header>
                            <h2>Machine Learing</h2>
                        </p-header>
                        Covid prediction using Chest X-Ray using Machine Learning.
                        <p-footer>
                            <a href="https://know120.github.io" target="_blank">Have a look</a>
                        </p-footer>
                    </p-card>
                </div>
            </div>
        </div>
    </section>
    <section id="blog">
        <div class="container-fluid full-size bg-secondary bg-gradient">
            <h1 class="text-center">Blogs</h1>
            <p class="text-center">Coming Soon...</p>
        </div>
    </section>
    <section id="contact">
        <div>
            <footer class="bg-dark text-center text-white">
                <div class="container p-4 pb-0">
                    <section class="mb-4">
                        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/TheSujayHalder"
                            target="_blank" role="button"><i class="pi pi-facebook"></i></a>
                        <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/TheSujayHalder"
                            target="_blank" role="button"><i class="pi pi-twitter"></i></a>
                        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/the_sujay_halder"
                            target="_blank" role="button"><i class="pi pi-instagram"></i></a>
                        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/sujayhalder"
                            target="_blank" role="button"><i class="pi pi-linkedin"></i></a>
                        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/know120" target="_blank"
                            role="button"><i class="pi pi-github"></i></a>
                    </section>
                </div>
                <div class="text-center p-3">
                    © 2022:
                    <a class="text-white" href="https://know120.github.io/">Sujay Halder</a>
                </div>
            </footer>
        </div>
    </section>
</div>