<div class="app">
    <!-- <section id="navigation">
        <nav>
            <a href="#projects">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </nav>
    </section> -->
    <section id="home">
        <div class="container-fluid full-size">
            <div class="row d-flex">
                <div class="col text-center" >
                    <img class="zoom rounded-circle w-50" src="../../../assets/img/me.jpg" alt="image">
                </div>
                <div class="col info text-center">
                    <h1 class="info zoom">Hi, I'm Sujay</h1>
                    <h2 class="info zoom">A Software</h2>
                    <h2 class="info zoom">Engineer</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- <section id="about">
        <div class="container-fluid full-size bg-secondary bg-gradient gap-5">
            <h1 class="text-center">Work Experience</h1>
            <div class="row m-lg-5 m-sm-1">
                <div class="col zoom">
                    <app-card [header]="expASL.header" [title]="expASL.title!" [body]="expASL.body"  [footer]="expASL.footer!"></app-card>
                </div>
                <div class="col zoom">
                    <app-card [header]="expDSS.header" [title]="expDSS.title!" [body]="expDSS.body"  [footer]="expDSS.footer!"></app-card>
                </div>
            </div>
        </div>
    </section> -->
    <section id="projects">
        <div class="container-fluid full-size">
            <h1 class="text-center">Projects</h1>
            <div class="row m-lg-5 m-sm-1">
                <div class="col zoom">
                    <app-card [header]="projDA.header" [body]="projDA.body" [footer]="projDA.footer!"></app-card>                    
                    <!-- <a href="https://jovian.ai/know120/fb-ad-lib" target="_blank">Have a look</a> -->
                </div>
                <div class="col zoom">
                    <app-card [header]="projDA.header" [body]="projDA.body" [footer]="projDA.footer!"></app-card>                
                    <!-- <a href="https://know120.github.io" target="_blank">Have a look</a> -->
                </div>
            </div>
        </div>
    </section>
    <section id="blog">
        <div class="container-fluid full-size bg-secondary bg-gradient">
            <h1 class="text-center">Blogs</h1>
            <p class="text-center">Coming Soon...</p>
        </div>
    </section>
    <section id="contact">
        <div>
            <footer class="bg-dark text-center text-white">
                <div class="container p-4 pb-0">
                    <section class="mb-4">
                        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/TheSujayHalder"
                            target="_blank" role="button"><i class="pi pi-facebook"></i></a>
                        <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/TheSujayHalder"
                            target="_blank" role="button"><i class="pi pi-twitter"></i></a>
                        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/the_sujay_halder"
                            target="_blank" role="button"><i class="pi pi-instagram"></i></a>
                        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/sujayhalder"
                            target="_blank" role="button"><i class="pi pi-linkedin"></i></a>
                        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/know120" target="_blank"
                            role="button"><i class="pi pi-github"></i></a>
                    </section>
                </div>
                <div class="text-center p-3">
                    © {{ currentYear  }}
                    <a class="text-white" href="https://know120.github.io/">Sujay Halder</a>
                </div>
            </footer>
        </div>
    </section>
</div>