<div class="app p-5">
    <section id="home">
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center" style="margin: auto;">
                    <img class="rounded-circle" src="../../../assets/img/me.jpg" alt="image" [width]="300"
                        height="auto">
                </div>
                <div class="col info text-center float-start">
                    <h1 class="text-center">Hi, I'm Sujay</h1>
                    <h2 class="text-center">a Software Engineer</h2>
                    <h3 class="text-center">Love to Create</h3>
                </div>
            </div>
        </div>
    </section>
    <section id="about" style="padding-top:5rem;">
        <h1>Work Experience</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <p-card>
                        <p-header>
                            <h2>Alumnus Software Limited</h2>
                        </p-header>
                        <h3>Full Stack Developer</h3>
                        Developed a web application for one of the leading Tire manufacturing company using Angular 7,
                        Bootstrap 5, .NET Framework, and SQLServer.
                        <p-footer>
                            <h4>July 2022 - Present</h4>
                        </p-footer>
                    </p-card>
                </div>
                <div class="col">
                    <p-card>
                        <p-header>
                            <h2>Divsoft Software Solutions</h2>
                        </p-header>
                        <h3>Software Engineer</h3>
                        Developed a Over Speed Detection System using CPP and OpenCV. That can receive the speed of the
                        vehicle from a remote server using TCP Connection and Capture the image of vehicle.
                        <p-footer>
                            <h4>August 2021 - July 2022</h4>
                        </p-footer>
                    </p-card>
                </div>
            </div>
        </div>

    </section>
    <section id="projects" style="padding-top:5rem;">
        <h1>Projects</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <p-card>
                        <p-header>
                            <h2>Web Development</h2>
                        </p-header>
                        Developed a web application using Angular 7, Bootstrap 5, HTML5, CSS3, and Typescript.
                        <p-footer>
                            <a href="https://know120.github.io" target="_blank">Visit</a>
                        </p-footer>
                    </p-card>
                </div>
                <div class="col">
                    <p-card>
                        <p-header>
                            <h2>Data Analysis</h2>
                        </p-header>
                        Analysis and Visualization of data using Python, Pandas, Matplotlib, and Seaborn.
                        <p-footer>
                            <a href="https://jovian.ai/know120/fb-ad-lib" target="_blank">Visit</a>
                        </p-footer>
                    </p-card>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p-card>
                        <p-header>
                            <h2>Machine Learing</h2>
                        </p-header>
                        Covid prediction using Machine Learning.
                        <p-footer>
                            <a href="https://know120.github.io" target="_blank">Visit</a>
                        </p-footer>
                    </p-card>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </section>
    <section id="blog" style="padding-top:5rem;">
        <h1>Blogs</h1>
        <p>Coming Soon...</p>
    </section>
    <section id="contact" style="padding-top:5rem;">
        <footer class="bg-dark text-center text-white">
            <div class="container p-4 pb-0">
                <section class="mb-4">
                    <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/TheSujayHalder"
                        target="_blank" role="button"><i class="pi pi-facebook"></i></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/TheSujayHalder"
                        target="_blank" role="button"><i class="pi pi-twitter"></i></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/the_sujay_halder"
                        target="_blank" role="button"><i class="pi pi-instagram"></i></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/sujayhalder"
                        target="_blank" role="button"><i class="pi pi-linkedin"></i></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/know120" target="_blank"
                        role="button"><i class="pi pi-github"></i></a>
                </section>
            </div>
            <div class="text-center p-3">
                © 2022:
                <a class="text-white" href="https://know120.github.io/">Sujay Halder</a>
            </div>
        </footer>
    </section>
</div>